body {
    background-color: #ecf4f3;
}

.computer {
    justify-content: center;
    margin-left: 800px;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 15%;

}

#computer-choice {
    float: right;
    margin-right: 350px;
    transform: rotateY(180deg);
}

#computer-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}

.game-board {
    margin-bottom: 100px;
    margin-top: 100px;
}

#game-text {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

input {
    background-color: #4c4c4c;
    color: white;
    border: none;
    padding: 16px 32px;
}

input:hover {
    background-color: #dddddd;
    color: black;
    cursor: pointer;
}

img {
    height: 170px;
    width: 170px;
}

.options-btn {
    text-align: center;
}

p {
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
}

#paper-btn {
    float: left;
    margin-left: 250px;
    padding: 15px 20px;
}

.player1 {
    margin-left: 200px;
    text-align: center;
    width: 15%;
}

#player-choice {
    margin-left: 300px;
}

#player-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}

#rock-btn {
    float: left;
    margin-left: 250px;
    padding: 15px 20px;
}

#scissors-btn {
    padding: 15px;
}