.computer {
    justify-content: center;
    margin-left: 800px;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 15%;

}

#computer-choice {
    float: right;
    margin-right: 350px;
    transform: rotateY(180deg);
}

.game-board {
    margin-bottom: 100px;
    margin-top: 100px;
}

img {
    height: 170px;
    width: 170px;
}

.options-btn {
    text-align: center;
}

p {
    font-size: 20px;
}

#paper-btn {
    float: left;
    margin-left: 200px;
}

.player1 {
    margin-left: 200px;
    text-align: center;
    width: 15%;
}

#player-choice {
    margin-left: 300px;
}

#rock-btn {
    float: left;
    margin-left: 300px;
}

section {
    height: 100vh;
}